.completed
{
    color: gray;
    text-decoration: line-through;
}
.list-group-item span
{
    margin-right: 10px;
}
.list-group-item i{
    cursor: pointer;
}
.spacing
{
    margin-left:10px;
}